body{
  font-family: 'Arial', sans-serif;
  background-color: #383838;
  margin: 0;
}

.head{
  height: 88px;
  display: flex;
  padding: 0;
  background-color: #292929;
  justify-content: space-around;
}
.login {
  margin-right:15px;
  padding: 5px;
  color: white;
  border: solid;
  border-radius: 10px;

}
.reg{
  color:black;
  background-color: #FFF965;
  border-radius: 10px;
  padding: 8px;
  
}
.on{
  color:black;
  background-color: #FFF965;
  border-radius: 10px;
  font-size: 40px;
  text-align: left;
  padding: 3px;

}
.kn{
  color:white;
  margin-left: 240px;
  font-size: 30px;
  border-radius: 10px;
  padding: 2px;
}
hr{
  border: 2px solid white ;
  border-radius: 5px;
  width: 1400px;
}
.container{
  color:white;
}
.container h1{
  margin-left: 240px;
}
.new{
  display: flex;
  justify-content: center;
}
.card{
  margin:10px;
  padding: 20px;
  background-color: #232323;
  border-radius: 20px;
  height: 300px;
  width: 220px;
}
.card a{
  width: 200px;
  background-color: #FFF965;
  border-radius: 10px;
  color:black;
}
.btn_add {
  color: black;
  background-color:#FFF965;
  font-size: 20px;
  border: solid #FFF965;
  border-radius: 10px;
  margin-left:240px;
}
.btn_add:active{
  background-color: #dfd700;
  border: solid #dfd700;
}
.ocenka {
  padding: 5px 10px;
}